html,body{
	background: #f4f4f4;
}
#top_warpper{
	height: 30px;
	background: #fafafa;
}
.content{
	width: 1200px;
	margin:0 auto;
}
.top{
	height: 30px;
	background: #FAFAFA;
	line-height: 30px;
}
.t_left{
	float: left;
	width: 270px;
}
.t_left p{
	float: left;
	padding-left: 15px;
}
.t_left a{
	float: right;
}
.pad{
	padding-left: 5px;
}
.t_right{
	float: right;
}
.t_right ul li{
	float: left;
	padding:0 17px;
}
.iconfont{
	font-size: 12px;
}
.icon-sj{
	padding-right: 5px;
	color: red;
}
.icon-jt{
	padding-left: 5px;
}
.icon-gwc{
	padding-right: 5px;
	color: red;
}
/*头部开始*/
#header_warpper{
	height:100px;
	background: #fff;
}
#header{
	height:100px;
	background: #fff;
	line-height: 100px;
}
.logo{
	float: left;
	padding-top: 14px;
	margin-left: 108px;
}
.logo h1 a{
	display: block;
	width: 240px;
	height: 72px;
	background:url(../images/logo.png) no-repeat;
	text-indent: -9999px;
}
.h_center{
	float: left;
	margin-left: 52px;
}
.h_center form{
	margin-top: 25px;
}
.h_center form .tex{
	float: left;
	width: 378px;
	height: 30px;
	border: 2px solid #80383c;
	border-right:0;
}
.h_center form .btn{
	float: left;
	width: 82px;
	height: 36px;
	border: 0;
	background: #c81324;
}
.h_center div{
	height: 38px;
	line-height: 38px;
	color: #676767;
}
.h_center div a{
	padding-left: 11px;
}
.h_center div .a01{
	padding-left:0;
}
.h_right{
	float: right;
	margin-right: 15px;
	margin-top: 15px;
	width: 210px;
	height: 70px;
	position: relative;
	overflow: hidden;
}
.h_right ul{
	width: 1000%;
	position: absolute;
	left: 0;
	top: 0;
}
.h_right ul li{
	float: left;
}
/*导航开始*/
#nav_warpper{
	height:39px;
	background:#000;
}
.nav{
	height:39px;
	background:#000;
	line-height: 39px;
	position: relative;
	z-index: 5;
}
.nav span{
	float: left;
	width: 216px;
	background: red;
	text-align: center;
	color: #fff;
	font-size: 14px;
}
.nav_02{
	width: 216px;
	height:700px;
	background: #000;
	display: none;
	position: absolute;
	top: 39px;
	left: 0;
	z-index: 5;
}
.nav ul{
	float: right;
}
.nav ul li{
	float: left;
	width: 123px;
	font-size: 14px;
    text-align: center;
}
.nav ul li a{
	display: block;
	width: 100%;
	height: 100%;
    color: #fff;
}

/* banner开始 */
#banner{
    width: 100%;
    position: relative;
    height: 600px;
    overflow: hidden;
}
.banner{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
}
.banner li a{
    display: block;
    width: 1920px;
    height: 600px;
}
.order{
    width: 192px;
    height: 60px;
    position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -96px;
	display: flex;
	justify-content: space-around;
}
#banner ol li{
	width: 16px;
	height: 16px;
	background: #000;
	border-radius: 50%;
	color: #fff;
	line-height: 16px;
	text-align: center;
}
#banner .round{
	background:#ff0300;
}
/* 主体内容 */
#main{
	background: #f4f4f4;
}
.main_1 ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.img_01{
	width: 585px;
}
.main_1 ul li{
	margin-top: 40px;
}
/* 合作伙伴 */
.cooperate ul{
	height: 106px;
	background: #fff;
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}
.cooperate ul li{
	margin-top: 8px;
}
/* 运动表现 */
.yd_move{
	margin-top: 40px;
	background: #f4f4f4;
}
.yd_top{
	width: 100%;
	height: 34px;
	border-bottom: 2px solid #000;
	margin-bottom: 20px;
}
.yd_top h2{
	float: left;
	line-height: 34px;
	font-size: 18px;
	font-weight: 900;
}
.yd_top h2 span{
	display: inline-block;
	width:30px;
	height: 30px;
	background: #000;
	margin-right: 20px;
	color: #fff;
	text-align: center;
	margin-left: 10px;
}
.yd_top div{
	float: right;
	line-height: 34px;
}
.yd_top div a{
	font-size: 16px;
	padding-left: 15px;
}
.yd_footer{
	display: flex;
	justify-content: space-between;
}
.yd_left{
	width: 160px;
	height: 530px;
	background: #fff;
}
.yd_left_top{
	width: 100%;
	height: 65px;
	background: #181c1f;
	display: flex;
	justify-content: space-around;
	line-height: 65px;
}
.yd_left_top a{
	color: #fff;
	font-size: 16px;
	font-weight: 900;
	padding: 0 15px;
}
.yd_left_top span{
	display: inline-block;
	width: 1px;
	height: 25px;
	background: #fff;
	margin-top: 20px;
}
.photo{
	display: block;
	width: 130px;
	height: 130px;
	margin: 20px auto;
}
.photo img{
	border-radius: 50%;
}
.yd_nav{
	width: 160px;
	height: 145px;
	padding-left: 15px;
}
.yd_nav ul{
	float: left;
	width: 65px;
}
.yd_nav ul li{
	height: 26px;
}
.yd_nav ul li a{
	font-size: 16px;
	font-weight: 900;
	color: #000;
}
.yd_nav ul li a:hover{
	text-decoration: underline;
}
.yd_right{
	width: 510px;
}
.yd_right a{
	float: left;
	width: 250px;
	background: #fff;
	margin-bottom: 10px;
	position: relative;
}
.yd_img_style{
	height: 350px;
}
.yd_interval{
	margin-right: 10px;
}
.yd_right .yd_bottom{
	margin-bottom:0;
}
.yd_right a span{
	position: absolute;
	bottom: 15px;
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #666;
}
.yd_right a span:hover{
	text-decoration: underline;
}






















